.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--green-background-color);
  height: 100dvh;
  box-sizing: border-box;
}

.rewardSection {
  width: 100%;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

.otterImage {
  width: auto;
  height: 30%;
  margin: 1rem;
  object-fit: cover;
}

.text {
  font-size: 3rem;
}

.title {
  font-size: 4rem;
  text-align: center;
}
.navButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.navButton {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: fit-content;
}

.navIcon {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.yellowBoxButton {
  padding: 2rem 4rem;
  box-sizing: border-box;
  width: 100%;

  background-color: var(--yellow-base-color);
  border: 1rem solid var(--yellow-border-color);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
}

.buttonLabel {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-primary-color);
  line-height: 1.2;
  margin: 0;
  word-break: keep-all;
}
