.container {
  padding-top: 12rem;
  margin: 0;
  height: 100dvh;
  text-align: center;
  background-color: var(--green-background-color);
}
.title {
  margin-top: 15rem;
  font-size: 4rem;
}
.shareButton {
  margin-top: 6rem;
  width: 50rem;
  height: 15rem;
  display: flex;
  align-items: center;
}
.shareButton > img {
  margin: 1rem;
}
.text {
  color: black;
  font-size: 2.8rem;
}
.buttonImage {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

:global(.appbar) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
