.container {
  padding-top: 14rem;
  margin: 0 auto;
  background-color: var(--green-background-color);
}

.loading {
  text-align: center;
  color: var(--text-secondary-color);
}

.empty {
  text-align: center;
  padding: 4rem;
  color: var(--text-secondary-color);
  background-color: var(--background-color);
  border-radius: 1rem;
  margin-top: 2rem;
}
