.container {
  height: 100vh;
  width: 100vw;
  background-color: #fef2b6; /* pastel yellow paper look */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: 'Pretendard', 'Arial', sans-serif; /*i think we need to change the font?*/
  overflow: hidden;
}

.container h1 {
  font-size: 7rem;
  font-family: 'Pretendard', 'Arial', sans-serif;
  margin-bottom: 1rem;
}


.logo {
  height: 36rem;
  margin: 2rem 0;
}

.nicknameInput {
  width: 100%;
}

.loginButton {
  width: 100%;
  margin: 2rem 0;
}
