.genderAge {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 500px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 1.8rem 0;
  gap: 1.5rem;
}

.genderContainer label {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.genderAge > div {
  flex-basis: 50%;
  box-sizing: border-box;
}

.genderContainer,
.AgeContainer {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.genderContainer p,
.AgeContainer p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.genderContainer > div {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  white-space: nowrap;

  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
}

.genderContainer label {
  margin-right: 0.5rem;
  line-height: 1;
}

.AgeContainer select {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #fcf9e8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
}

.genderContainer input[type='radio'] + label {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}

.genderContainer input[type='radio'] {
  transform: scale(0.9);
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
