.pageBackground {
  background-color: #fbe798;
  height: 100dvh;
}
.container {
  padding: 2rem;
  height: calc(100dvh - 30rem);
}
.tabList {
  display: flex;
  justify-content: space-around;
  margin-bottom: -0.5rem;
}

.tabButton {
  padding-bottom: 2rem;
  width: 100%;
  background-color: #f7d984;
  color: #000;
  font-size: 2rem;
  border: 0.5rem solid #f1c16f;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition:
    border-color 0.3s,
    color 0.3s;
}

.active {
  background-color: #ffefa7;
  border-bottom-color: transparent;
  font-weight: bold;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개 열, 동일한 너비 */
  background-color: #ffefa7;
  gap: 2rem; /* 아이템 간 간격 */
  padding: 2rem;
  border: 0.5rem solid #f1c16f;
  height: 100%;
  overflow: auto;
}
