.gridItem {
  background-color: var(--apricot-light-color);
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 0.5rem;
  height: fit-content;
}
.gridItem.used {
  background-color: var(--apricot-light-color);
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.chip {
  display: inline-block;
  padding: 0 1rem;
  width: 70%;
  background-color: var(--background-color);
  border-radius: 1rem;
  color: var(--text-primary-color);
}
.chip.used {
  background-color: var(--orange-base-color);
}
.chipText {
  font-size: 1.8rem;
  line-height: 1rem;
  font-weight: 900;
  color: var(--text-primary-color);
}
