.gridItem {
  background-color: #f0f0f0;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 0.5rem;
  height: fit-content;
}
.gridItem.used {
  background-color: #f7d89e;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.chip {
  display: inline-block;
  padding: 0 1rem;
  width: 70%;
  background-color: #e0e0e0;
  border-radius: 1rem;
  color: #000;
}
.chip.used {
  background-color: #f8c464;
}
.chipText {
  font-size: 1.8rem;
  line-height: 1rem;
  font-weight: 900;
  color: #333;
}
