.container {
  background-color: var(--orange-light-color);
  border-radius: 4rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--orange-base-color);
  border: 0.1rem solid var(--orange-base-color);
}

.text {
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-primary-color);
  margin: 0;
}
.description {
  font-size: 2rem;
  color: var(--text-secondary-color);
  margin: 0;
}

.cylinder {
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  background: linear-gradient(to right, #f0f0f0, #e9eef5);
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.cylinderFill {
  position: absolute;
  top: 10%;
  height: 80%;
  width: var(--fill-level);
  transition: width 0.5s ease;
  background: linear-gradient(to right, var(--orange-base-color), var(--orange-border-color));
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2rem;
}

.nextLevel {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-color: var(--orange-base-color);
  opacity: 0.3;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-secondary-color);
  text-align: center;
  line-height: 1.9;
}
