.pageBackground {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-image: url('/image/beach/new_beach.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* 수평으로 아이템 2개 배치 */
.container {
  padding-top: 14rem;
  display: flex;
  margin-top: 53rem;
  justify-content: space-between;
  gap: 3rem;
  padding: 0 20px; /* 좌우 공간 확보 */
}

/* 아이콘 + 텍스트 한 묶음 */
.optionItem {
  position: absolute;
  top: 30px; /* ✅ 화면 위에서 30px 아래 */
  left: 830px; /* ✅ 오른쪽 정렬 기준 */
  z-index: 1000;
  cursor: pointer;
}
/* 아이콘 이미지 */
.icon1 {
  margin-top: 0px; /* 아래로 내림 */
  margin-left: 0px; /* 오른쪽으로 이동 */
  width: 105px; /* 필요 시 사이즈도 조정 */
}
.icon2 {
  width: 100%;
  height: auto;
  display: block;
}
.letter0 {
  position: absolute;
  margin-top: -200px; /* 아래로 내림 */
  margin-left: 0px; /* 오른쪽으로 이동 */
  width: 400px; /* 필요 시 사이즈도 조정 */
  height: auto;
}
.letter1 {
  position: absolute;
  margin-top: -380px; /* 아래로 내림 */
  margin-left: 400px; /* 오른쪽으로 이동 */
  width: 300px; /* 필요 시 사이즈도 조정 */
  height: auto;
}
.response0 {
  position: absolute;
  top: 650px;
  left: 550px;
  width: 400px;
  height: auto;
  z-index: 10;
}
.icon3 {
  width: 100%;
  height: auto;
  display: block;
}
.charac {
  position: absolute;
  pointer-events: none;
  margin-top: 180px; /* 아래로 내림 */
  margin-left: 400px; /* 오른쪽으로 이동 */
  width: 450px; /* 필요 시 사이즈도 조정 */
  height: auto;
}
/* 노란 텍스트 박스 */
.labelBox {
  width: 24rem;
  height: 10rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 노란 텍스트 박스 */
.labelBox1 {
  width: 24rem;
  height: 10rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* 텍스트 스타일 */
.labelText {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-primary-color);
  text-align: center;
  word-break: keep-all;
  padding: 0 1rem;
}

.labelText1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-primary-color);
  text-align: center;
  word-break: keep-all;
  padding: 0 1rem;
}
