.postImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  content: url('/public/image/main/background_initial.webp');
}

.pointContainer {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.shellImage {
  width: auto;
  height: 8rem;
}

.level {
  position: absolute;
  color: #fff;
}

.cylinder {
  width: 3rem;
  height: 15rem;
  border-radius: 4rem;
  background: linear-gradient(to top, #c8daee, #d3d9dc);
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.cylinderFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fill-level);
  transition: height 0.5s ease;
  background: linear-gradient(to top, #d3b8ee, #ddb5e8);
  border-top: 2px solid #bd8bcb;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.settingButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  height: auto;
  height: 6rem;
}
.navContainer {
  position: fixed;
  width: 100%;
  bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navContainer img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}
