.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('/image/main/background_initial.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pointContainer {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.level {
  position: absolute;
  color: var(--text-primary-color);
  line-height: 2;
}
.cylinder {
  width: 3rem;
  height: 15rem;
  border-radius: 4rem;
  background: linear-gradient(to top, #e0e0e0, #f8f8f8);
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.cylinderFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fill-level);
  transition: height 0.5s ease;
  background: linear-gradient(to top, #4caf50, #81c784);
  border-top: 2px solid #388e3c;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.shellImage {
  width: auto;
  height: 10rem;
}

.cylinder {
  width: 3rem;
  height: 15rem;
  border-radius: 4rem;
  background: linear-gradient(to top, #c8daee, #d3d9dc);
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.cylinderFill {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--fill-level);
  transition: height 0.5s ease;
  background: linear-gradient(to top, #d3b8ee, #ddb5e8);
  border-top: 2px solid #bd8bcb;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.settingButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2rem;
  width: auto;
  height: 8rem;
}

.roadSignContainer {
  position: absolute;
}
.roadSignContainer:nth-of-type(2) {
  top: 38%;
  left: 25%;
  > img {
    transform: scaleX(-1);
  }
}
.roadSignContainer:nth-of-type(3) {
  top: 57%;
  right: 17%;
}

.roadSignImage {
  height: 24rem;
  width: auto;
}

.signHouseText {
  position: absolute;
  top: 1.8rem;
  left: 7rem;
  font-size: 3rem;
}

.signOceanText {
  position: absolute;
  top: 1.8rem;
  left: 3rem;
  font-size: 3rem;
}

.otterContainer {
  position: absolute;
  bottom: 3%;
  left: 15%;
}

.otterImage {
  height: 28rem;
  width: auto;
  z-index: 1;
  position: absolute;
  bottom: 35%;
  left: -15%;
}

.otterShadow {
  height: 6rem;
  width: 15rem;
  border-radius: 50%;
  filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.4);
}

.otterSpeech {
  position: absolute;
  bottom: 10rem;
  left: 19rem;
  width: 25rem;
  height: auto;
  font-size: 2.5rem;
  color: var(--text-primary-color);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 4rem;
  line-height: 1.2;
  word-break: keep-all; 
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow-wrap: break-word;
  ::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -1.5rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 2rem solid rgba(255, 255, 255, 0.8);
    border-left: 0;
  }
}

