.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-image: url('/image/post/background_post.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* 아이콘 + 텍스트 하나의 블록을 수직으로 */
.optionRow {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 60rem;
}

.optionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* 아이콘 */
.icon {
  width: 25rem;
  height: 22rem;
  margin-bottom: 1rem;
}

/* 텍스트 박스 */
.labelBox {
  width: 25rem;
  height: 14rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelText {
  font-size: 3.3rem;
  color: var(--text-primary-color);
  text-align: center;
  padding: 2.5rem;
}

.speechBubble {
  position: absolute;
  bottom: 80rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 40rem;
  font-size: 2.8rem;
  color: var(--text-primary-color);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem 5rem;
  border-radius: 4rem;
  line-height: 1.2;
  word-break: keep-all;
  white-space: pre-wrap;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

/* 말풍선 꼬리 */
.speechBubble::after {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 1rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
}
