html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('/image/beach/background_ocean.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* 수평으로 아이템 2개 배치 */
.optionRow {
  display: flex;
  margin-top: 53rem;
  justify-content: center;
  gap: 3rem;
}

/* 아이콘 + 텍스트 한 묶음 */
.optionItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* 아이콘 이미지 */
.icon1 {
  width: 27rem;
  height: 18rem;
  margin-top: 1rem;
}
.icon2 {
  margin-left: 3rem;
  width: 16rem;
  height: 20rem;
}

/* 노란 텍스트 박스 */
.labelBox {
  width: 24rem;
  height: 10rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 노란 텍스트 박스 */
.labelBox1 {
  width: 24rem;
  height: 10rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* 텍스트 스타일 */
.labelText {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  word-break: keep-all;
  padding: 0 1rem;
}

.labelText1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  word-break: keep-all;
  padding: 0 1rem;
}
