.pageBackground {
  background-color: var(--blue-background-color);
  min-height: 100dvh;
  height: fit-content;
}
.container {
  padding: 3rem;
  padding-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.letterSection {
  display: flex;
  flex-direction: column;
  min-height: 40dvh;
}

.date {
  margin: 0;
}

.divider {
  width: 100%;
  height: 0.3rem;
  background-color: var(--blue-border-color);
  border-radius: 2rem;
  margin: 0.5remrem 0;
}

.commentItem {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 24dvh;
}
