.container {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--blue-base-color);
  border: 1rem solid var(--blue-border-color);
  border-radius: 3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 2rem;
  text-align: left;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

.infoSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.infoSection > p {
  margin: 0;
}

.emotionIcon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
