.container {
  display: flex;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 12rem;
  z-index: 1000;
}
.backButton {
  margin: 3rem;
  margin-right: auto;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.title {
  flex-grow: 1;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
}
.nextButtonContainer {
  margin-right: 3rem;
  margin-left: auto;
  width: 10rem;
  height: 10rem;
  z-index: 505;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nextButton {
  width: 10rem;
  height: 10rem;
}
.nextButton,
.backButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--text-primary-color);
}

.nextButton > img {
  display: block;
}
.nextButtonText {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 2rem;
  color: var(--text-secondary-color);
  text-align: center;
}
