.toastContainer {
  position: fixed;
  bottom: 4rem;
  width: 80%;
  left: 10%;
  z-index: 1000;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
.hide {
  display: none;
  animation: fadeOut 0.5s ease-in-out forwards;
}
.show {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.toastMessage {
  background-color: var(--orange-base-color);
  color: #fff;
  padding: 2rem;
  border-radius: 3rem;
  font-size: 3rem;
  animation: fadeInOut 3s ease-in-out forwards;
}
.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 0.7rem;
  right: 3rem;
}
