.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--blue-background-color);
  height: 100dvh;
}

.title {
  font-size: 4rem;
  margin-top: 10rem;
  text-align: center;
  white-space: pre-wrap;
  line-height: 6rem;
}

.text {
  font-size: 3rem;
  margin-top: 2rem;
}

.otterImage {
  width: auto;
  height: 32rem;
}

.rewardSection {
  width: 100%;
  text-align: center;
  text-align: center;
}

.navButtonContainer {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.navIcon {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  object-fit: contain;
}

.yellowBoxButton {
  width: 25rem;
  height: 10rem;
  background-image: url('/image/post/yellow_box.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLabel {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  word-break: keep-all;
}
