/* Modal.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 500;
}

.content {
  position: absolute;
  height: fit-content;
  top: 12em;
  right: 5rem;
  display: flex;
  background-color: var(--orange-light-color);
  padding: 2rem 3rem;
  border-radius: 3rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 65%;
  animation: fadeIn 0.2s ease-in-out;
}
.content::after {
  content: '';
  position: absolute;
  top: -2rem;
  right: 3rem;
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-bottom: 3rem solid #f8eacd;
}

.cautionText {
  font-size: 2rem;
}
.recommendedText {
  font-size: 2rem;
  font-family: 'KyoboHand';
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  height: 4rem;
  width: auto;
}
.refreshButton {
  position: absolute;
  top: 2rem;
  right: 7rem;
  cursor: pointer;
  height: 4rem;
  width: auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
